:root{
    --error-input: rgb(255, 56, 56);
    --focus-input: rgb(1, 40, 113);
}

body{
    margin: 0;
    display: flex;
    flex-direction: row;
}

.container-imagen{
    height: 100vh;
    width: 100vw;
    background-image: url(./images/globo.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: green;
    
    
    
}

.container-imagen label{
    position: fixed;
    bottom: 0;
    color: white;
    margin-bottom: 5px;
}

a:visited{
    color: white;
}

a:link{
    color: white;
}

.header-logo{
    font-family: 'Permanent Marker', cursive;
    box-sizing: border-box;
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: 200px;
    opacity: 0.6;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;

}
.header-logo h1{
    opacity: none;
    color: white;
    font-weight: bold;
    
}

.header-logo img{
    height: 100px;
    margin: 20px;
}



.container-formulario{
    background-color: #DFF5FF;
    width: 100%;
    padding: 100px;
    font-family: 'Expletus Sans', sans-serif;
}

.container-formulario h1{
    margin-bottom: 100px;
}

.boton-formulario{
    height: 65px;
    width: 300px;
    background-color: rgb(96, 77, 9);
    color: white;
    border-radius: 15px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    border: none;
    cursor:pointer;
}

.boton-formulario:hover{
   box-shadow: 3px 0px 30px rgb(163,163,163, 1);
}


fieldset{
   background-color: #bbe6fa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-box-shadow: -5px 10px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 13px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 13px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1em;
    outline: none;
}

.inputs{
    width: 48%; /* Ajusta el ancho de cada columna según tus necesidades */
    margin-bottom: 15px;
}



input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: #bbe6fa;
    border: 3px solid transparent;
    font-size: medium;
    outline: none;
}

.password{
    border: 2px solid var(--error-input);
}


input:focus{
    border:3px solid #0075FF;
    
}






.container-boton{
    display: flex;
    justify-content: center;
}